@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(""), url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: local(""), url("../fonts/Poppins-Light.woff2") format("woff2"), url("../fonts/Poppins-Light.woff") format("woff"), url("../fonts/Poppins-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: local(""), url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: local(""), url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local(""), url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.ttf") format("truetype");
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  font-size: 14px;
  color: #ffffff;
  background: #1f1c26;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.section {
  padding: 75px 0;
}
.section__header {
  margin-bottom: 50px;
}
.section__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
}
.section__title::after {
  position: absolute;
  left: 0;
  bottom: -5px;
  content: "";
  width: 75px;
  height: 5px;
  background: #59253e;
}

.button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background: #f24b88;
  border: none;
  border-radius: 5px;
  padding: 7px 15px;
  font-weight: 600;
  line-height: 1.5;
}
.button_big {
  border-radius: 10px;
  padding: 20px 30px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #ffffff;
  text-transform: uppercase;
}
.button_accent {
  background: #ec3779;
}
.button_black {
  background: #1F1C26;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .button_big {
    padding: 10px 20px;
  }
}
@media (max-width: 375px) {
  .button_big {
    border-radius: 10px;
    padding: 10px;
    font-size: 13px;
    line-height: 1.5384615385;
  }
}
.header {
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 20%;
}
.header__logo img {
  display: block;
  width: 100%;
}
.nav__list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
}
.nav__item {
  display: flex;
  align-items: center;
}
.nav__item:not(:last-child) {
  margin-right: 40px;
}
.nav__link {
  line-height: 1.5;
  color: #f2f2f2;
  text-decoration: none;
  position: relative;
}
.nav__link::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -7.5px;
  height: 5px;
  background: #59253e;
  width: 0;
  visibility: hidden;
  transition: width 0.3s;
}
.nav__link:hover::after {
  visibility: visible;
  width: 100%;
}
.nav__link_active::after {
  visibility: visible;
  width: 100%;
}
.nav__button {
  line-height: 1.5;
  color: #f2f2f2;
  text-decoration: none;
  padding: 0 7px;
  border: 1px solid #f2f2f2;
}
.nav__button_accent {
  background: #f24b88;
  border-color: #f24b88;
}

.burger-header {
  display: none;
}

.no-scroll {
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 1023.96px) {
  .header {
    top: 30px;
  }
  .nav {
    position: fixed;
    left: 0;
    bottom: 100vh;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: #1f1c26;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
    overflow: auto;
    transition: bottom 0.5s;
  }
  .nav_active {
    bottom: 0;
  }
  .nav__list {
    flex-direction: column;
    align-items: center;
  }
  .nav__item:not(:last-child) {
    margin: 0 0 40px 0;
  }
  .nav__link {
    font-size: 24px;
  }
  .nav__button {
    font-size: 24px;
    position: relative;
  }
  .logo {
    position: relative;
    z-index: 15;
  }
  .burger-header {
    position: relative;
    z-index: 15;
    width: 20px;
    height: 20px;
    padding: 0;
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .burger-header span {
    width: 100%;
    height: 2px;
    background: #f2f2f2;
    transition: transform 0.3s, opacity 0.3s;
  }
  .burger-header_active {
    position: relative;
  }
  .burger-header_active span {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
  }
  .burger-header_active span:nth-child(1) {
    transform: translateY(-50%) rotate(-45deg);
  }
  .burger-header_active span:nth-child(2) {
    opacity: 0;
  }
  .burger-header_active span:nth-child(3) {
    transform: translateY(-50%) rotate(45deg);
  }
}
@media (max-width: 767.96px) {
  .header__logo {
    width: 110px;
  }
}
@media (max-width: 425px) {
  .header {
    top: 15px;
  }
}
.main {
  display: flex;
  align-items: center;
  padding: 250px 0 75px 0;
}
.main__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__col {
  flex: 0 0 37%;
  display: flex;
  flex-direction: column;
}
.main__col_big {
  flex: 0 0 57%;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.main__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 0.8;
  letter-spacing: 0.215em;
  text-transform: uppercase;
  color: #ffffff;
}
.main__subtitle {
  font-weight: 500;
  font-size: 29px;
  line-height: 1;
  letter-spacing: 0.215em;
  text-transform: uppercase;
  color: #ffffff;
}
.main__text {
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.36);
}
.main__text_margin {
  margin: 65px 0 90px 0;
}
.main__buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.main__image {
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  margin-right: 25px;
}
.main__image img {
  height: 100%;
  width: 100%;
  display: block;
}
.cards-main-card {
  background: #332f3c;
  border-radius: 10px;
  padding: 30px 25px 25px 25px;
}
.cards-main-card:not(:last-child) {
  margin-bottom: 20px;
}
.cards-main-card__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #ffffff;
  text-transform: uppercase;
}
.cards-main-card__text {
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.36);
  margin: 15px 0;
}
.cards-main-card__button {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  text-decoration: none;
  color: #ffffff;
}
.cards-main-card__button span {
  width: 40px;
  height: 40px;
  background: #f24b88;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 13px;
}
.cards-main-card__button span svg {
  fill: #ffffff;
}
@media (max-width: 1200px) {
  .main__container {
    flex-direction: column;
    align-items: center;
  }
  .main__buttons {
    justify-content: start;
  }
  .main__button:not(:last-child) {
    margin-right: 40px;
  }
  .main__col {
    flex: auto;
    display: flex;
    max-width: 75%;
  }
  .main__col:not(:last-child) {
    margin-bottom: 40px;
  }
  .main__col_big {
    align-items: center;
  }
}
@media (max-width: 1024px) {
  .main__col {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .main__col_big {
    flex-direction: column;
    width: 100%;
  }
  .main__image {
    margin: 0;
    max-width: 336px;
    margin-bottom: 40px;
    max-height: 283px;
  }
  .cards-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .cards-main-card {
    width: 335px;
  }
  .cards-main-card:not(:last-child) {
    margin: 0 20px 0 0;
  }
  .main {
    padding-top: 150px;
  }
  .main__text_margin {
    margin: 40px 0;
  }
}
@media (max-width: 720px) {
  .cards-main {
    flex-direction: column;
    justify-content: center;
  }
  .cards-main-card:not(:last-child) {
    margin: 0 0 20px 0;
  }
}
@media (max-width: 470px) {
  .main__button:last-child {
    display: none;
  }
  .main__button:not(:last-child) {
    margin: 0;
  }
}
@media (max-width: 375px) {
  .main__title {
    font-size: 48px;
  }
  .main__subtitle {
    font-size: 24px;
  }
  .cards-main-card {
    width: 100%;
  }
  .main__buttons {
    justify-content: center;
  }
}
.latest-training__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.latest-training__link {
  line-height: 1.5;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
.latest-training__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.latest-training-item {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.latest-training-item__image {
  width: 100%;
}
.latest-training-item__image img {
  display: block;
  width: 100%;
}
.latest-training-item__title {
  margin: 12px 0 5px 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #ffffff;
}
.latest-training-item__text {
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.36);
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .latest-training__content {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .latest-training-item {
    flex: 0 0 336px;
    margin: 0 10px 30px 10px;
  }
}
@media (max-width: 425px) {
  .latest-training__content {
    flex-direction: column;
  }
  .latest-training-item {
    flex: auto;
    margin: 0;
    width: 100%;
    filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
  .latest-training-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .latest-training-item__title {
    position: absolute;
    left: 10px;
    bottom: 10px;
    margin: 0;
  }
  .latest-training-item__text {
    display: none;
  }
  .latest-training-item__button {
    display: none;
  }
}
.our-team__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .our-team__content {
    justify-content: space-around;
  }
}
.our-team__button {
  margin: 20px auto 0;
  display: none;
}

.item-our-team {
  flex: 0 0 261px;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.item-our-team__content {
  padding: 20px 12px 12px 12px;
  display: flex;
  flex-direction: column;
}
.item-our-team__title {
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #0d0d0d;
}
.item-our-team__subtitle {
  font-style: italic;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.5384615385;
  text-transform: capitalize;
  color: #332f3c;
}
.item-our-team__text {
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: rgba(13, 13, 13, 0.5);
  margin: 10px 0 50px 0;
}
.item-our-team__button {
  align-self: flex-end;
}

@media (max-width: 425px) {
  .our-team__content {
    justify-content: space-between;
  }
  .item-our-team {
    margin: 0 5px;
    flex-basis: 157px;
    width: 157px;
    background: none;
  }
  .item-our-team__content {
    padding: 0;
  }
  .item-our-team__image {
    width: 157px;
    height: 157px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item-our-team__title {
    color: #e5e5e5;
    text-align: center;
  }
  .item-our-team__text {
    display: none;
  }
  .item-our-team__subtitle {
    display: none;
  }
  .item-our-team__button {
    display: none;
  }
  .our-team__button {
    display: block;
  }
}
@media (max-width: 374px) {
  .our-team__content {
    flex-direction: column;
    align-items: center;
  }
  .item-our-team {
    margin-bottom: 20px;
  }
  .our-team__button {
    margin: 0 auto;
  }
}
.discover {
  padding: 75px 0 50px 0;
}
.discover__container {
  background: #332f3c;
  padding: 65px 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.discover__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.215em;
  color: #ffffff;
}
.discover__text {
  font-size: 13px;
  line-height: 1.5384615385;
  text-align: center;
  color: #ffffff;
  max-width: 664px;
  margin-bottom: 70px;
}
.discover__row {
  display: flex;
}
.discover__button:not(:last-child) {
  margin-right: 30px;
}

@media (max-width: 1024px) {
  .discover__container {
    padding: 60px;
  }
}
@media (max-width: 768px) {
  .discover__row {
    flex-wrap: wrap;
  }
  .discover__button {
    border-radius: 5px;
    padding: 15px 10px;
  }
}
@media (max-width: 600px) {
  .discover__container {
    padding: 60px 30px;
  }
  .discover__button:not(:last-child) {
    margin-right: 15px;
  }
}
@media (max-width: 425px) {
  .discover__container {
    padding: 15px 0;
  }
  .discover__title {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  .discover__text {
    font-size: 12px;
    line-height: 1.5;
  }
}
.footer__container {
  border-top: 1px solid #f2f2f2;
  padding: 35px 15px;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 15px;
}
.footer__col_35 {
  flex: 0 0 35%;
  margin-right: 25px;
}
.footer__col_big {
  flex: auto;
  display: flex;
  justify-content: space-between;
}
.footer__text {
  margin: 15px 0;
}
.footer__text_light {
  margin: 0;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
}
.footer__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #ffffff;
}
.footer__copyright {
  padding-top: 35px;
  padding-bottom: 0;
  border-top: 1px solid #ffffff;
}

.social-footer {
  display: flex;
  align-items: center;
}
.social-footer__item {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #59253e;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-footer__item svg {
  width: 50%;
  height: 50%;
  fill: #ffffff;
}
.social-footer__item:not(:last-child) {
  margin-right: 8px;
}

.nav-footer__col:not(:last-child) {
  margin-right: 50px;
}
.nav-footer__title {
  margin-bottom: 15px;
}
.nav-footer__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.nav-footer__item:not(:last-child) {
  margin-bottom: 15px;
}
.nav-footer__link {
  line-height: 1.5;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
}

.subscribe-footer {
  display: flex;
  flex-direction: column;
}
.subscribe-footer__title {
  margin-bottom: 25px;
}
.subscribe-footer__input {
  background: #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
  padding: 8px 25px;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5384615385;
  color: #7b7b7b;
  margin-bottom: 15px;
}
.subscribe-footer__button {
  align-self: flex-start;
}

@media (max-width: 1024px) {
  .footer__nav {
    margin-bottom: 40px;
  }
  .footer__col_big {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 600px) {
  .footer__row {
    flex-direction: column;
    align-items: center;
  }
  .footer__col_35 {
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 40px 0;
  }
  .footer__text {
    text-align: center;
  }
  .footer__text_light:not(:last-child) {
    margin-bottom: 10px;
  }
}