*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: $font-family;
	font-size: $font-size;
	color: $font-color;
	background: $body-background;
}

.container {
	margin: 0 auto;
	max-width: calc($container-width + 2 * $container-padding);
	padding: 0 $container-padding;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

.section {
	padding: 75px 0;
	// .section__header

	&__header {
		margin-bottom: 50px;
	}

	// .section__title

	&__title {
		font-weight: 700;
		font-size: 30px;
		line-height: calc(45 / 30);
		text-transform: uppercase;

		color: $white;

		position: relative;
		&::after {
			position: absolute;
			left: 0;
			bottom: -5px;
			content: "";
			width: 75px;
			height: 5px;
			background: $purple;
		}
	}
}

.button {
	cursor: pointer;

	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;

	color: $white;

	background: $pink;
	border: none;
	border-radius: 5px;

	padding: 7px 15px;

	font-weight: 600;
	line-height: calc(21 / 14);

	// .button_big

	&_big {
		border-radius: 10px;
		padding: 20px 30px;

		font-weight: 600;
		font-size: 20px;
		line-height: calc(30 / 20);

		color: $white;
		text-transform: uppercase;
	}

	// .button_accent

	&_accent {
		background: #ec3779;
	}

	// .button_black

	&_black {
		background: #1F1C26;
	}
}

@media (max-width: calc($container-width + 2 * $container-padding)) {
	.container {
		max-width: 1024px;
	}
}
@media (max-width: 1024px) {
	.container {
		max-width: 768px;
	}
}
@media (max-width: 768px) {
	.button {
		&_big {
			padding: 10px 20px;
		}
	}
}
@media (max-width: 375px) {
	.button {
		&_big {
			border-radius: 10px;
			padding: 10px;
			font-size: 13px;
			line-height: calc(20 / 13);
		}
	}
}
