// -------- COLORS -------- //
$black: #000000;
$white: #ffffff;

// -------- INTERFACE -------- //
$font-family: "Poppins";
$font-size: 14px;
$font-color: $black;

$body-background: $white;

$container-width: 1170px;
$container-padding: 15px;