// -------- COLORS -------- //
$black: #000000;
$white: #ffffff;
$light-white: rgba($white, 0.36);
$dark: #0d0d0d;
$light: #f2f2f2;
$dark-purple: #1f1c26;
$purple: #59253e;
$pink: #f24b88;

// -------- INTERFACE -------- //
$font-family: "Poppins";
$font-size: 14px;
$font-color: $white;

$body-background: $dark-purple;

$container-width: 1170px;
$container-padding: 15px;
