// -------- COLORS -------- //
$black: #000000;
$white: #ffffff;
$light-white: rgba($white, 0.36);
$dark: #0D0D0D;
$light: #F2F2F2;
$dark-purple: #1F1C26;
$purple: #59253E;
$pink: #F24B88;

// -------- INTERFACE -------- //
$font-family: "Poppins";
$font-size: 14px;
$font-color: $white;

$body-background: $dark-purple;

$container-width: 1170px;
$container-padding: 15px;