.header {
	position: absolute;
	top: 65px;
	left: 0;
	right: 0;
	// .header__container

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// .header__logo

	&__logo {
		width: 20%;
		img {
			display: block;
			width: 100%;
		}
	}

	// .header__nav

	&__nav {
	}
}
.logo {
}
.nav {
	// .nav__list

	&__list {
		padding: 0;
		margin: 0;
		display: flex;
		list-style: none;
	}

	// .nav__item

	&__item {
		display: flex;
		align-items: center;
		&:not(:last-child) {
			margin-right: 40px;
		}
	}

	// .nav__link

	&__link {
		line-height: calc(21 / 14);
		color: $light;
		text-decoration: none;

		position: relative;
		&::after {
			position: absolute;
			content: "";
			left: 0;
			bottom: -7.5px;
			height: 5px;
			background: $purple;
			width: 0;
			visibility: hidden;
			transition: width 0.3s;
		}
		&:hover {
			&::after {
				visibility: visible;
				width: 100%;
			}
		}
		// .nav__link_active

		&_active {
			&::after {
				visibility: visible;
				width: 100%;
			}
		}
	}

	// .nav__button

	&__button {
		line-height: calc(21 / 14);
		color: $light;
		text-decoration: none;
		padding: 0 7px;
		border: 1px solid $light;

		// .nav__button_accent

		&_accent {
			background: $pink;
			border-color: $pink;
		}
	}
}
.burger-header {
	display: none;
}
.no-scroll {
	height: 100vh;
	overflow: hidden;
}
@media (max-width: 1023.96px) {
    .header {
        top: 30px;
    }
	.nav {
		position: fixed;
		left: 0;
		bottom: 100vh;
		width: 100%;
		height: 100%;
		z-index: 10;

		background: $dark-purple;

		display: flex;
		justify-content: center;
		align-items: center;
		padding: 100px 0px;

		overflow: auto;

		transition: bottom 0.5s;
		&_active {
			bottom: 0;
		}

		&__list {
			flex-direction: column;
			align-items: center;
		}
		&__item {
			&:not(:last-child) {
				margin: 0 0 40px 0;
			}
		}
		&__link {
			font-size: 24px;
		}
		&__button {
			font-size: 24px;
			position: relative;
		}
	}
	.logo {
		position: relative;
		z-index: 15;
	}
	.burger-header {
		position: relative;
		z-index: 15;

		width: 20px;
		height: 20px;
		padding: 0;
		background: none;
		border: none;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		span {
			width: 100%;
			height: 2px;
			background: $light;
			transition: transform 0.3s, opacity 0.3s;
		}
		&_active {
			position: relative;
			span {
				position: absolute;
				left: 0;
				top: 50%;
				width: 100%;
				&:nth-child(1) {
					transform: translateY(-50%) rotate(-45deg);
				}
				&:nth-child(2) {
					opacity: 0;
				}
				&:nth-child(3) {
					transform: translateY(-50%) rotate(45deg);
				}
			}
		}
	}
}
@media (max-width: 767.96px) {
    .header__logo {
        width: 110px;
    }
}
@media (max-width: 425px) {
    .header {
        top: 15px;
    }
}