.section {
}
.main {
	display: flex;
	align-items: center;

	padding-top: 250px;
	padding-bottom: 100px;

	// .main__container

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// .main__col

	&__col {
		flex: 0 0 37%;
		display: flex;
		flex-direction: column;

		// .main__col_big

		&_big {
			flex: 0 0 57%;
			flex-direction: row;
			justify-content: space-between;
			align-items: stretch;
		}
	}

	// .main__title

	&__title {
		font-weight: 700;
		font-size: 64px;
		line-height: 0.8;
		letter-spacing: 0.215em;
		text-transform: uppercase;

		color: $white;
	}

	// .main__subtitle

	&__subtitle {
		font-weight: 500;
		font-size: 29px;
		line-height: 1;

		letter-spacing: 0.215em;
		text-transform: uppercase;

		color: $white;
	}

	// .main__text

	&__text {
		line-height: calc(21 / 14);

		color: $light-white;

		// .main__text_margin

		&_margin {
			margin: 65px 0 90px 0;
		}
	}

	// .main__buttons

	&__buttons {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	// .main__button

	&__button {
	}

	// .main__image

	&__image {
		border-radius: 20px;
		overflow: hidden;
		width: 100%;
		img {
			height: 100%;
			width: 100%;
			display: block;
		}
		margin-right: 25px;
	}

	// .main__cards

	&__cards {
	}
}

.cards-main {
	// .cards-main__card

	&__card {
	}
}
.cards-main-card {
	background: #332f3c;
	border-radius: 10px;
	padding: 30px 25px 25px 25px;
	&:not(:last-child) {
		margin-bottom: 20px;
	}
	// .cards-main-card__title

	&__title {
		font-weight: 600;
		font-size: 20px;
		line-height: calc(30 / 20);
		color: $white;

		text-transform: uppercase;
	}

	// .cards-main-card__text

	&__text {
		line-height: calc(21 / 14);

		color: $light-white;

		margin: 15px 0;
	}

	// .cards-main-card__button

	&__button {
		display: flex;
		align-items: center;
		font-weight: 600;
		font-size: 18px;
		line-height: calc(27 / 18);
		text-decoration: none;

		color: $white;
		span {
			width: 40px;
			height: 40px;
			background: $pink;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-right: 13px;
			svg {
				fill: $white;
			}
		}
	}

	// .cards-main-card__button-icon

	&__button-icon {
	}
}

@media (max-width: calc($container-width + 2 * $container-padding)) {
	.main {
		&__container {
			flex-direction: column;
			align-items: center;
		}
		&__buttons {
			justify-content: start;
		}
		&__button {
			&:not(:last-child) {
				margin-right: 40px;
			}
		}
		&__col {
			flex: auto;
			display: flex;
			max-width: 75%;
			&:not(:last-child) {
				margin-bottom: 40px;
			}
			&_big {
				align-items: center;
			}
		}
	}
}
@media (max-width: 1024px) {
	.main {
		&__col {
			max-width: 100%;
		}
	}
}
@media (max-width: 768px) {
	.main {
		&__col {
			&_big {
				flex-direction: column;
				width: 100%;
			}
		}
		&__image {
			margin: 0;
			max-width: 336px;
			margin-bottom: 40px;
			max-height: 283px;
		}
	}
	.cards-main {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
	.cards-main-card {
		&:not(:last-child) {
			margin: 0 20px 0 0;
		}
		width: 335px;
	}
	.main {
		padding-top: 150px;
	}
    .main__text_margin {
        margin: 40px 0;
    }
}
@media (max-width: 720px) {
	.cards-main {
        flex-direction: column;
		justify-content: center;
	}
	.cards-main-card {
		&:not(:last-child) {
			margin: 0 0 20px 0;
		}
	}
}
@media (max-width: 470px) {

    .main__button {
        &:last-child {
            display: none;
        }
        &:not(:last-child) {
            margin: 0;
        }
    }
}
@media (max-width: 375px) {
    .main__title {
        font-size: 48px;
    }
    .main__subtitle {
        font-size: 24px;
    }
    .cards-main-card {
        width: 100%;
    }
    .main__buttons{
        justify-content: center;
    }
}